/* police */
h2 {
    font-family: 'Lora', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin-top: 69px;
    text-align: left;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: left;
}

img {
    width: 100%;
    max-width: 1414px;
    max-height: 686.01px;
    margin-bottom: 115px;
    object-fit: cover;
}

section h2,
section p {
    text-align: left;
}
main .container {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    margin-left: 157px;
}


@media screen and (max-width: 768px) {
    img {
        width: 90%;
    }
}



