<!-- noms pays  -->
<main class="container">

  <section>
    <h2>{{article.country}} - {{article.city}} </h2>
    <!-- date  -->
    <p>{{article.beginDate}} - {{article.endDate}} </p>

    <!-- img principale  -->
    <img class="imageMain" src={{article.image}} alt="{{article.country}}">
  </section>
  <app-back-button></app-back-button>

  <!-- description  -->
  <section>
    <app-resume [title]="'Le voyage'" [text]="article.description">

    </app-resume>
  </section>
  <!-- positivePoints & negatif  -->
  <app-opinions [positivePoints]="article.positivePoints" [negativePoints]="article.negativePoints"
    [tips]="article.tips"> </app-opinions>


  <!-- description  -->
  <app-resume [title]="'En résumé'" [text]="article.summary"></app-resume>

  <!-- image gallery  -->
  <app-little-more [galerie]="article.galerie"></app-little-more>