/* police */
h2 {
    font-family: 'Lora', sans-serif;
    font-size: clamp(26px, 5vw, 60px);
    font-weight: lighter;
    text-align: left;
    margin-top: 59px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: clamp(14px, 5vw, 16px);
    text-align: left;
    margin-bottom: 44px;
}

img {
    width: 90%;
    max-width: 1414px;
    max-height: 686.01px;
    object-fit: cover;
}

@media screen and (max-width: 1027px) {
    
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 21px;
    }
    h2 {
        margin-top: 110px;
    }
    img {
        height: 350px;
        width: 95%;
    }
    section p {
        margin-bottom: 33px;
    }
   

}