<div class="container" *ngFor="let lastTravel of imageSelected">
    <figure routerLink="/article/{{lastTravel.id}}">
        <img src="{{lastTravel.image}}" alt="{{lastTravel.country}}">
        <figcaption class="imageTop">

            <div class="imageBandeauPays">
                <p> {{lastTravel.country}} - {{lastTravel.city}} </p>
                <div class="dateBandeauPays">
                    <p> {{lastTravel.beginDate}} - {{lastTravel.endDate}} </p>
                </div>
            </div>

        </figcaption>
    </figure>
</div>