<div *ngFor="let lastTravel of imageSelected">
    <figure routerLink="/article/{{lastTravel.id}}">
        <img src="{{lastTravel.image}}" alt="{{lastTravel.country}}">
        <div>
            <figcaption class="imageTop">
                <div class="imageBandeauPays">
                    {{lastTravel.country}} - {{lastTravel.city}}
                </div>
                <div class="dateBandeauPays">
                    {{lastTravel.beginDate}} - {{lastTravel.endDate}}
                </div>
            </figcaption>
        </div>
    </figure>
</div>