.imageBandeauPays p {
  font-family: 'Lora', sans-serif;
  font-size: clamp(15px, 5vw, 30px);
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding: 24px;

}

.dateBandeauPays p {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

figure {
  margin-top: 127px;
  position: relative;
  width: 100%;
  max-width: 1029px;
  max-height: 686.01px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.imageBandeauPays {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #C96B41;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-barre {
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  min-height: 90px;
  /* Hauteur minimale souhaitée pour la barre */
}



@media screen and (max-width: 820px) {
  .imageBandeauPays {
    padding: 0;
  }

  .imageBandeauPays p {
    font-size: 15px;
    padding: 15px;
  }

  .dateBandeauPays p {
    font-size: 10px;
  }

  .vertical-barre {
    min-height: 70px;

  }

}

@media screen and (min-width: 820px) {
  .imageBandeauPays {
    padding: 10px;
  }

  .imageBandeauPays p {
    font-size: 30px;
  }

  .dateBandeauPays p {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {

  figure {
    width: 350px;
    height: 358px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:1226px) {

  figure {
    width: 90%;
  }
}