<section>
    <div class="positivePoints">
        <h2 style="margin-bottom : 34px">Notre avis</h2>
        <ul style="margin-left: 20px;">
            <li *ngFor="let positivePoint of positivePoints" [class.no-indent]="positivePoint === 'Les plus'">
                {{positivePoint}}
            </li>
        </ul>

    </div>
</section>

<section>
    <ul style="margin-left: 20px;">
        <li *ngFor="let negativePoint of negativePoints" [class.no-indent]="negativePoint === 'Les moins'">
            {{negativePoint}}
        </li>
    </ul>
</section>

<section style="margin-bottom: 114px;">
    <ul style="margin-left: 20px;">
        <li *ngFor="let tip of tips" [class.no-indent]="tip === 'Mon conseil'">
            {{tip}}
        </li>
    </ul>
</section>