<article>
    <div class="positivePoints">
        <h2>Notre avis</h2>
        <ul style="margin-left: 10px;">
            <li *ngFor="let positivePoint of positivePoints" [class.no-indent]="positivePoint === 'Les plus'">
                {{positivePoint}}
            </li>
        </ul>

    </div>
</article>

<article>
    <ul style="margin-left: 10px;">
        <li *ngFor="let negativePoint of negativePoints" [class.no-indent]="negativePoint === 'Les moins'">
            {{negativePoint}}
        </li>
    </ul>
</article>

<article>
    <ul style="margin-left: 10px;">
        <li *ngFor="let tip of tips" [class.no-indent]="tip === 'Mon conseil'">
            {{tip}}
        </li>
    </ul>
</article>

