li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
li:first-child {
    line-height: 3em;
}
.no-indent {
    list-style-type: none;
    font-size: 24px;
    font-family: 'Lora', sans-serif;
}
article {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .positivePoints {
        max-width: 90%;
        margin: 0 auto;
    }

    ul {
        padding-left: 0;
    }

    li {
        font-size: 16px;
    }
    article {
        text-align: left;
    }
  
    .positivePoints {
        margin-left: 0;
    }
}