li {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
li:first-child {
    line-height: 3em;
}
.no-indent {
    list-style-type: none;
    font-size: 24px;
    font-family: 'Lora', sans-serif;

}
