.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.background {
    background-color: #C96B41;
    padding: 40px;
    width: 100%;
    max-width: 1230px;
}

.background p {
    font-size: 20px;
    color: white;
}

h2 { 
    align-self: flex-start;
    margin-bottom: 44px;
}


