h2 {
  text-align: left;
}

section p {
    color: white;
    padding: 80px;
    text-align: left;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    white-space: pre-line;
}




.background-color {
    background-color: #C96B41;
    max-width: 90%;
}

h2 {
    text-align: left;
}

@media screen and (max-width: 768px) {
    section p {
      padding: 30px;
      font-size: 16px;
    }

    .background-color {
      max-width: 90%;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 157px;
}
